.mobile {

  &__title {
    font-size: fluid-font(5.2rem, 3.4rem);
  }

  &__text {
    margin-bottom: 5rem;

    p:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    @media (max-width: em(575)) {
      margin-bottom: 3rem;
    }
  }

  &__subtitle {
    margin-bottom: 2.5rem;
    font-weight: 500;
    font-size: fluid-font(3.2rem, 2.4rem);
  }

  &__description {
    margin-bottom: 2.5rem;
  }

  &__list {
    list-style: disc;
    margin-bottom: 5rem;
    padding-left: 3rem;
    font-weight: 500;

    @media (max-width: em(575)) {
      margin-bottom: 3rem;
      padding-left: 2rem;
    }
  }

  &__item {
    font-size: fluid-font(2rem, 1.6rem);
    line-height: 140%;

    a {
      color: var(--clr-default-400);
    }

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}

