.vpn {
  margin-top: -28rem;

  @media (max-width: em(1200)) {
    margin-top: initial;
  }
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: em(992)) {
      flex-direction: column;
    }
  }

  &__content {
    margin-right: 2.5rem;
    max-width: 74rem;

    @media (max-width: em(1200)) {
      max-width: 50rem;
    }

    @media (max-width: em(992)) {
      margin-right: initial;
      max-width: initial;
    }
  }

  &__title {
    font-size: fluid-font(5.2rem, 2.6rem);
  }

  &__text {
    @media (max-width: em(992)) {
      margin-bottom: 3rem;
    }
    p:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__image {
    position: relative;
    z-index: 1;
    max-width: 52rem;

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 0;
      width: 34rem;
      height: 32.8rem;
      background-color: var(--clr-primary-400);
      filter: blur(14rem);
      transform: translate(-50%, -50%);
      pointer-events: none;

      @media (max-width: em(575)) {
        width: 26rem;
        height: 7.8rem;
        filter: blur(6rem);
      }
    }
  }
}
